

<div id="carts" class="container mb-5" style="display:flex;">
  <div class="col-7">
    <%= render partial: "cart", collection: @carts %>
  </div>
  <div class="col-4">
    <%= render partial: "cart_buy" %>
  </div>
</div>