<div id="carts" class="container mb-5" style="display:flex;">
  <div class="col-7">
    <%= render partial: "order_information" %>
  </div>
  <div class="col-4">
    <%= render partial: "order_summary" %>
  </div>
</div>