// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#carts, #orders-summary {
  width: 100%;
  justify-content: space-between;
  margin: 0;
}

#orders-summary {
  background-color: #eaeaea;
  margin: 0;
  padding: 0.2rem 1rem 1rem 1rem;
}

#carts .col-4 {
  background-color: #eaeaea;
  padding: 20px 10px;
  height: fit-content;
}

#carts .col-8 {
  background-color: #eaeaea;
  padding: 20px 10px;
}

#carts .col-8 > * {
  background-color: white;
}

.cart-item {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  padding: 1.25rem;
  width: 100%;

  display: flex;
  align-items: flex-start;

  position: relative;
}

#orders-summary li {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  padding: 1.25rem;
  width: 100%;
  margin: 20px 0px 0px 0px;
  list-style-type: none;
  background-color: white;
}

.cart-item img {
  min-width: 200px;
  width: 100%;
  max-width: 400px;
}

.cart-item button {
  font-size:15px;
  height: 24px;
  width: 24px;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 100%;
}

.cart-item input {
  width: 95px;
  text-align: center;
  max-width: fit-content;
}

.cart-item .price {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
  color: cadetblue;
}

.cart-item > .d-flex {
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}

.cart-item > .d-flex a {
  width: fit-content;
}

#cart-summary {
  background-color: white;
  height: 100%;
  padding: 10px;
}

#cart-summary th {
  font-weight: normal;
}

#cart-summary td {
  text-align: end;
}

